.elements {
    margin: 45px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-row-gap: 25px;
    grid-column-gap: 15px;
    list-style: none;
    padding-inline-start: 0;
    justify-items: center;
}

@media screen and (max-width: 900px) {
    .elements {
        margin: 45px 45px 0;
    }
}

@media screen and (max-width: 400px) {
    .elements {
        margin: 36px 0 0;
        grid-row-gap: 21px;
    }
}

