.login__link {
    margin-top: 217px;
    padding: 15px 150px;
    border: none;
    background-color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }