.register__input {
    margin: 10px 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    height: 40px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #CCCCCC;
    box-sizing: border-box;
    padding: 10px 0 0;
    color: #CCCCCC;
}