.footer__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 950px) {
  .footer__text {
      margin-left: 25px;
  }
}

@media screen and (max-width: 400px) {
  .footer__text {
      margin-left: 12px;
      font-size: 14px;
      line-height: 17px;
  }
}