.profile__info {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 500px;
}

@media screen and (max-width: 1000px) {
    .profile__info {
        margin: 0 auto 0;
        align-items: center;
    }
  } 

@media screen and (max-width: 560px) {
    .profile__info {
        width: 100%;
        margin: 10px auto 0;
    }
  } 

