.popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-image: url(../../../images/close-button.svg);
    background-position: center center;
    background-repeat:  no-repeat;
    border: none;
    top: -40px;
    right: -40px;
    /* transform: rotate(90deg);
    transition: 0.3s; */
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 400px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -35px;
        right: 0px;
    }
}
