.profile__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 295px;
}

@media screen and (max-width: 400px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        margin-left: 30px;
        width: 190px;
    }
  } 