.profile__avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0); /* Настройка цвета и прозрачности для блока с заголовком */
    transition: background 0.5s ease;
  }